
.search_wrap {
    width: 50%;
    margin: 50px auto;
}


.search_wrap .has-search .form-control {
    padding-left: 2.375rem;
}

.search_wrap .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.media .mr-3 { 
	border-radius: 8% !important;
}

.media .media-body {
	font-size: 15px;
}
.media .media-body > h5{ 
	font-size: 15px;
	font-weight: bold;
}
.media .media-body a{
	color: #4782c1;
}

.media .media-body .reg-date{ 
	font-size: 11px;
	color: #b9b9b9;
	font-style:italic;
	float: right;
}

.pagination {
	margin-top:40px;
	margin-bottom:40px;
}

.pagination>li>a, .pagination>li>span { 
	border-radius: 50% !important;
	margin: 0 5px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #007bff;
    background-color: #dedede;
     border-color: #dedede;
}