/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin-top: 30px;
}

.simple-pagination ul {
	display: table;
     margin-left: auto;
     margin-right: auto;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
span.ellipse.clickable {
	cursor: pointer;
}

.ellipse input {
	width: 3em;
}


/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
.light-theme span {
	cursor:pointer;
}

.light-theme a, .light-theme span {
	float: left;
	color: #666;
	font-size:15px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 15px;
	padding: 0 7px;
	margin: 0 10px 0 0;
	border-radius: 4px;
}

.light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
	text-decoration: none;
	background: #efefef;
}

.light-theme .current {
	background: #909090;
	color: #FFF;
	border-color: #909090;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

